@import "../../assets/styles/variables.scss";

.discounts{
    &__loyalty-programme-discounts-section {
        height: clamp(250px, 60vw, 300px);
        background-image: url("../../assets/images/Rectangle7.png");
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;

        position: relative;
    }

    &__info{
        @extend %poppinsMedium18_25;
    }

    &__text{
        @extend %poppinsMedium18_25;
        position: absolute;
        top: 50px;
        left: 50px;
    }

    &__bonuses{
        margin-top: 45px;
        min-height: 114px;
        width: 626px;

        display: flex;

    }

    &__bonuses-icon{
        margin-right: 20px;
        display: flex;
        align-items: center;
    }

    &__text-container{
        display: flex;
        align-items: center;
    }

    &__bonuses-text{
        @extend %poppinsBold18_18;
        line-height: 1.6;
    }

    &__title{
        text-align: center;
        padding: 54px 60px;
    }

    &__text-title{
        @extend %poppinsMedium25;
    }

    &__points-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;

        .point{
            display: flex;
            flex-direction: row;
            width: 511px;
        }
    }

    &__info-container{
        .title-info{
            @extend %poppinsMedium18_20;
            margin-bottom: 10px;
        }

        .text-info{
            @extend %robotoRegular18;
            line-height: 1.2;
        }
    }
}