@import "./reset.scss";
@import "./variables.scss";
body {
  @extend %robotoRegular18;
}

body {
  overflow-x: hidden;

  overflow-y: auto;

  &::-webkit-scrollbar {
    display: block;
    width: 5px;
    overflow: auto;
    height: 5px;
    background-color: rgb(207, 207, 207);
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(167, 167, 167);
    border-radius: 30px;
  }
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
}

[class*="__container"] {
  max-width: 1728px;
  margin: 0px auto;
  padding-inline: clamp(20px, 2.5vw, 30px);
  overflow-wrap: break-word;
}
