@import "./fonts.scss";

%robotoRegular18 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: clamp(15px, 2.5vw, 18px);
}

%robotoBold18 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: clamp(15px, 2.5vw, 18px);
}

%poppinsBold25 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: clamp(18px, 2.5vw, 25px);
}

%poppinsMedium15 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: clamp(15px, 2.5vw, 20px);
}

%poppinsMedium18_20 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: clamp(18px, 2.5vw, 20px);
}

%poppinsMedium18 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: clamp(18px, 2.5vw, 20px);
}

%poppinsMedium18_25 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: clamp(18px, 2.5vw, 25px);
}

%poppinsMedium20 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: clamp(20px, 2.5vw, 25px);
}

%poppinsMedium25 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: clamp(18px, 2.5vw, 25px);
}

%poppinsSemiBold25 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: clamp(20px, 2.5vw, 25px);
}

%poppinsMedium35 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: clamp(20px, 2.5vw, 35px);
}

%poppinsMedium60 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: clamp(40px, 2.5vw, 60px);
}

@mixin textAdaptive($webkit-line-clamp) {
  display: -webkit-box;
  -webkit-line-clamp: $webkit-line-clamp;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
